html {
  font-size: 12px;
  background-color: rgb(252, 252, 252);
  font-family: Helvetica, Arial, sans-serif;
}
html,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 60px;
}
header .logo {
  text-decoration: none;
  color: black;
}
header .logo span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
}
header .menu-wrapper {
  display: flex;
}
header .menu-wrapper ul {
  display: flex;
  margin: 0;
  list-style-type: none;
}
header .menu-wrapper li a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: rgba(53, 52, 52, 0.76);
  margin-right: 20px;
  width: 55px;
  text-align: center;
  transition: 650ms;
}
header .menu-wrapper li a:hover {
  color: red;
  box-sizing: border-box;
  border-bottom: 2px solid red;
}
#login {
  display: flex;
  align-items: center;
  justify-content: center;
}
#login a {
  text-decoration: none;
  color: red;
  font-size: 15px;
  font-weight: bold;
}
.section-1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 650px;
  background: no-repeat center/100% url("image/section1bg.png");
  background-size: cover;
  padding-left: 200px;
}
.section-1 h1,
.section-1 p,
.section-1 a {
  color: white;
  margin: 0;
}
.section-1 h1 {
  font-size: 50px;
  font-weight: normal;
}
.section-1 p {
  font-size: 15px;
  width: 220px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-1 a {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: rgb(199, 61, 61);
  width: 220px;
  font-size: 25px;
  padding: 10px 0;
}
.section-2 {
  margin: 0;
  padding: 0;
  width: 100%;
  color: rgb(60, 60, 61);
  height: 250px;
  display: flex;
}
.section-2 .intro-item {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.section-2 .intro-item p {
  width: 100%;
  text-align: center;
  font-size: 15px;
  border-right: 2px solid rgba(53, 52, 52, 0.76);
  margin: 0;
}
.section-2 .intro-item:last-child > p {
  border-right: none;
}
.section-3 {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(208, 210, 214, 0.76);
}
.section-3 h2 {
  font-weight: normal;
  font-size: 30px;
  color: rgba(53, 52, 52, 0.76);
}
.section-4 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 300px;
  background: no-repeat center/100% url("image/section4bg.png");
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section-4 h2,
.section-4 p {
  margin: 0px;
  letter-spacing: 2px;
  color: rgb(252, 252, 252);
}
.section-4 h2 {
  position: relative;
}
.section-4 h2::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 300px;
  right: 300px;
  height: 2px;
  background-color: rgba(244, 246, 248, 0.76);
}
.section-4 .search {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}
.section-4 .select-wrapper {
  height: 27px;
  box-sizing: border-box;
  position: relative;
}
.section-4 .select-wrapper .select-content {
  display: flex;
  width: 150px;
  justify-content: space-between;
  background-color: white;
  padding: 5 10px;
  color: rgba(132, 133, 134, 0.76);
  box-sizing: border-box;
}
.section-4 .select-wrapper .option-wrapper {
  border: 1px solid rgb(199, 61, 61);
  border-top: none;
  display: none;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
.section-4 .select-wrapper:hover .option-wrapper {
  display: block;
}
.section-4 .option-wrapper .option {
  background-color: rgba(208, 210, 214, 0.76);
  padding: 5 10px;
  text-align: left;
}
.section-4 .select-wrapper:hover .select-content {
  border: 1px solid rgb(199, 61, 61);
  border-bottom: none;
}
.section-4 .option-wrapper .option:hover {
  background-color: rgb(199, 61, 61);
}
.section-4 .option img {
  padding-right: 10px;
  visibility: hidden;
}
.section-4 .option-wrapper .option:hover img {
  visibility: visible;
}
.section-4 .search-button {
  width: 150px;
  padding: 5 10px;
  background-color: rgb(199, 61, 61);
  box-sizing: border-box;
}
.section-5 {
  margin: 0px;
  padding: 0px;
  height: 500px;
  width: 100%;
  display: flex;
  background-color: rgba(208, 210, 214, 0.76);
}
.section-5 .activity-info {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-items: center;
}
.section-5 .activity-info img {
  border: 5px solid lightgray;
}
.section-5 .activity-info:nth-child(2) {
  flex-direction: column-reverse;
}
.section-5 .activity-content {
  text-align: center;
}
.section-5 .activity-content p {
  color: rgb(60, 60, 61);
}
.section-6 {
  height: 1000px;
  display: flex;
  flex-direction: column;
}
.section-6 .content-top {
  display: flex;
  flex: 1;
}
.section-6 .content-top .content-top-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat center/100% url("image/section6bg1.jpg");
  background-size: cover;
  color: white;
  text-align: center;
}

.section-6 .content-top .content-top-left {
  position: relative;
}
.section-6 .content-top .content-top-left::after {
  position: absolute;
  top: 50%;
  right: 0px;
  content: "";
  border-width: 20px;
  border-style: solid;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: white;
  border-bottom-color: transparent;
}

.section-6 .content-top .content-top-left h2 {
  font-size: 30px;
  font-weight: normal;
}
.section-6 .content-top .content-top-left p {
  font-size: 20px;
}
.section-6 .content-top .content-top-left p span {
  font-size: 120px;
}
.section-6 .content-top .content-top-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-6 .content-top .content-top-right h2 {
  letter-spacing: 3px;
}
.section-6 .content-top .content-top-right p {
  width: 60%;
  text-align: left;
  line-height: 2.5;
  color: rgba(132, 133, 134, 0.76);
}
.section-6 .content-top .content-top-right h2 span {
  color: red;
}
.section-6 .content-top .content-top-right a {
  border: 1px solid red;
  text-decoration: none;
  color: red;
  width: 100px;
  text-align: center;
  padding: 8px 0;
  transition: 650ms;
}
.content-top .content-top-right a:hover {
  color: white;
  background-color: red;
}
.content-top-right .dot1 {
  width: 100px;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.content-top-right .dot {
  display: block;
  border-radius: 50%;
  background-color: white;
  width: 10px;
  height: 10px;
  border: 1px solid rgba(132, 133, 134, 0.76);
}
.content-top-right .dot:first-child {
  background-color: rgba(132, 133, 134, 0.76);
}
.content-top-right .dot:nth-child(2):hover,
.content-top-right .dot:last-child:hover {
  background-color: rgba(132, 133, 134, 0.76);
}
.section-6 .content-bottom {
  flex: 1;
  display: flex;
}
.section-6 .content-bottom .content-bottom-left,
.section-6 .content-bottom .content-bottom-middle,
.section-6 .content-bottom .content-bottom-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-6 .content-bottom h2 {
  font-size: 25px;
  text-align: center;
  font-weight: normal;
  margin: 0px;
  padding-bottom: 50px;
}
.section-6 .content-bottom a {
  font-size: 18px;
  text-decoration: none;
  width: 150px;
  padding: 8px 0;
  text-align: center;
}
.section-6 .content-bottom .content-bottom-left a {
  border: 1px solid white;
  color: white;
}
.section-6 .content-bottom .content-bottom-middle a {
  color: red;
  border: 1px solid red;
}
.section-6 .content-bottom .content-bottom-left {
  background-color: rgba(214, 12, 12, 0.76);
  color: white;
}
.section-6 .content-bottom h2 {
  position: relative;
}
.section-6 .content-bottom h2::after {
  content: "";
  display: block;
  position: absolute;
  top: 95px;
  left: 80px;
  width: 50px;
  height: 2px;
  background-color: rgba(244, 246, 248, 0.76);
}
.section-6 .content-bottom-middle h2::after {
  background-color: rgba(77, 78, 78, 0.76);
}
.section-6 .content-bottom .content-bottom-right {
  background: no-repeat center/100% url("image/section6bg2.jpg");
  background-size: cover;
  position: relative;
}
.section-6 .content-bottom .content-bottom-right::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  border-width: 20px;
  border-style: solid;
  border-left-color: white;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.section-7 {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-7 .join-text-wrapper {
  padding-bottom: 50px;
  width: 30%;
}
.section-7 .join-text-wrapper h2 {
  padding-bottom: 40px;
  position: relative;
  margin: 0px;
}
.section-7 .join-text-wrapper h2::after {
  content: "";
  position: absolute;
  top: 45px;
  left: 190px;
  width: 50px;
  height: 2px;
  display: block;
  background-color: red;
}
.section-7 .join-text-wrapper p,
.section-7 .join-info p {
  margin: 0;
  color: rgba(132, 133, 134, 0.76);
}
.section-7 .join {
  display: flex;
  text-align: left;
  justify-content: center;
}
.section-7 .join-info {
  width: 30%;
  margin-right: 50px;
}
.section-7 .join-info h3 {
  font-weight: normal;
  font-size: 20px;
}
.section-7 .join-info a {
  text-decoration: none;
  color: rgba(66, 68, 68, 0.76);
  display: block;
  text-align: right;
  margin-top: 20px;
  position: relative;
}
.section-7 .join-info a::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 10px;
  border-width: 5px;
  border-style: solid;
  border-top-color: rgba(66, 68, 68, 0.76);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.section-7 .join-form {
  width: 60%;
}
.section-7 .join-form .contact-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-7 .join-form input {
  width: 48%;
  height: 40px;
  margin: 5px 0px;
  background-color: #eee;
  border: none;
}
.section-7 .join-form button {
  width: 100%;
  display: block;
  font-size: 15px;
  border: none;
  background-color: #eee;
  height: 40px;
  color: rgba(66, 68, 68, 0.76);
}
.section-7 .join-form textarea {
  width: 100%;
  margin: 10px 0;
  background-color: #eee;
  border: none;
  color: rgba(66, 68, 68, 0.76);
}
.section-8 {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-color: #32353e;
}
.section-8 h3 {
  font-weight: normal;
  font-size: 20px;
  margin: 0px;
}
.section-8 input {
  height: 30px;
  width: 400px;
  border: none;
}
.section-8 button {
  padding: 0px;
  height: 30px;
  width: 100px;
  color: white;
  border: none;
  background-color: rgba(132, 133, 134, 0.76);
}
.section-8 form {
  padding: 20px 0;
}
.section-8 img {
  margin: 0 10px;
}
footer {
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #2f3038;
}
footer p {
  margin: 0;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
